<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Kulturkick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Kulturkick</h1>
        <img class="bilde" src="{{ url_for('static', filename='logo-removebg-preview (1).png') }}" alt="Kulturkick Logo">
    </header>

    <div class="navbar">
        <a href="{{ url_for('home') }}">Fremside</a>
        <a href="{{ url_for('about') }}">Om oss</a>
        {% if session.user_id %}
            <a href="{{ url_for('user_profile') }}">Min Profil</a>
            {% if session.is_admin %}
                <a href="{{ url_for('admin_portal') }}">Admin Portal</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Logut</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registrer</a>
        {% endif %}
    </div>

    <div class="events-container">
        <h1 class="section-title">Vårt Team</h1>
        <div class="image-carousel">
            <div class="carousel-images">
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='pers1.png') }}" alt="Show 1">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='pers2.jpg') }}" alt="Show 2">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='pers3.jpg') }}" alt="Show 3">
                </div>
            </div>
        </div>

        <h2 class="section-title">Våre Show</h2>
        <div class="image-carousel">
            <div class="carousel-images">
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='show1.png') }}" alt="Show 1">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='show2.jpg') }}" alt="Show 2">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='show3.jpg') }}" alt="Show 3">
                </div>
            </div>
        </div>

        <h2 class="section-title">Hvor vi befinner oss</h2>
        <div class="location-container">
            <div class="info-box">
                <h3>Kultur Kick</h3>
                <p>Address: Kultur123 veien</p>
                <p>Phone: +47 XXX XX XXX</p>
                <p>Email: contact@kulturkick.no</p>
            </div>
            <div class="map-box">
                <img src="{{ url_for('static', filename='map.png') }}" alt="Map Location" class="map-image">
            </div>
        </div>
    </div>
</body>
</html>